.hombre {
    width: 100%;
    border-radius: 40px;
    align-items: center;
    padding: 20px;
}

.publicidad {
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;

    .card_hombre {
        display: flex;
        flex-direction: column;
        width: 20%;

        h3 {
            text-align: center;
            font-size: 15px;
            margin: 10px;
        }

        .hombre_texto {
            text-align: center;
            font-size: 15px;
        }

        h2 {
            text-align: center;
            font-size: 10px;
            font-family: sans-serif;
        }
    }
}

