.contac1 {
    width: 100%;
    border-radius: 30%;
    padding: 40px 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "mensaje datos"
        "mensaje datos";
    gap: 50px;

    .datos_cuadro {
        border-radius: 20px;
        grid-area: datos;
        background-color: rgba(114, 181, 236, 0.8);
        padding: 10px;

        .borde {
            border-bottom: 3px solid white;
            margin-bottom: 10px;
            padding-bottom: 10px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img_contacto {
                width: 10%;
                text-decoration: none;
                text-align: center;
            }

            .informacion {
                text-align: center;
            }
        }
    }
}

.enviar_mensaje {
    background-color: rgba(114, 181, 236, 0.8);
    grid-area: mensaje;
    border-radius: 20px;
    gap: 20px;

    .formulario {
        display: grid;
        padding: 10px;
        border-radius: 4px;
        font-family: calibri;
        text-align: center;
        justify-items: center;

        .nombre {
            text-align: center;
        }

        .contacto4 {
            padding: 10px 40px;
            border-radius: 4px;
            border-color: black;
            margin-bottom: 16px;
            border: 1px solid rgba(255, 192, 203, 0.199);
            font-family: calibri;
            font-size: 15px;
        }

        .seleccion {
            width: 100px;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .opciones {
            left: 50%;
        }

        .mensaje1 {
            width: 100%;
            height: 80px;
            text-align: center;
        }

        .no-contesta {
            margin-bottom: 20px;
        }
    }
}

.but-for {
    display: flex;
    justify-content: center;
    padding: 20px;

    .boton1 {
        background-color: white;
        border: 0px;
        padding: 10px;
        margin-right: 50px;
    }

    .boton2 {
        background-color: white;
        border: 0px;
        padding: 10px;
    }
}

.contact1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon2 {
    text-align: center;
    margin: 30px;
}

.icon_img {
    text-align: center;
}

.img_contac2 {
    width: 30%;
}